<div class="about">

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/#!/">HOME</a></li>
    </ul>
  </div>
</nav>

<div class="container">
  <div class="jumbotron">
    <img id="about_img"src="http://i.onionstatic.com/avclub/4297/92/16x9/1200.jpg">
    <h1>The Office</h1>
    <p>is an American television comedy series that aired on NBC from March 24, 2005 to May 16, 2013. The series depicts the everyday lives of office employees in the Scranton, Pennsylvania branch of the fictional Dunder Mifflin Paper Company. To simulate the look of an actual documentary, it is filmed in a single-camera setup, without a studio audience or a laugh track. </p>
    <p><a class="btn btn-primary btn-lg" href="/#!/cast" role="button">Meet The Cast</a></p>
  </div>
</div>
</div>