<div class="bestmoments">

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#!/">HOME</a></li>
    </ul>
  </div>
</nav>

<div class="container" id="timeline">
  <div class="page-header">
    <h1 id="timeline">The Office's Best Moments</h1>
  </div>
  <ul class="timeline">
    <li>
      <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Diversity Day</h4>
          <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> Season 1 | Episode 1</small></p>
        </div>
        <div class="timeline-body">
          <img src="./img/diversity_day.jpg">
        </div>
      </div>
    </li>
    <li class="timeline-inverted">
      <div class="timeline-badge warning"><i class="glyphicon glyphicon-credit-card"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Casino Night</h4>
          <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> Season 2 | Finale</small></p>
        </div>
        <div class="timeline-body">
        <img class="casino_night" src="./img/casino_night.jpg"
        </div>
      </div>
    </li>
    <li>
      <div class="timeline-badge danger"><i class="glyphicon glyphicon-credit-card"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Safety Training</h4>
          <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> Season 3 | Episode 19</small></p>
        </div>
        <div class="timeline-body">
        <img class="safety_training" src="./img/safety_training.jpg"
        </div>
      </div>
    </li>
    <li class="timeline-inverted">
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Goodbye Toby</h4>
          <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> Season 4 | Finale</small></p>
        </div>
        <div class="timeline-body">
        <img class="goodbye_toby" src="./img/goodbye_toby.jpg">
        </div>
      </div>
    </li>
    <li>
      <div class="timeline-badge info"><i class="glyphicon glyphicon-floppy-disk"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Cafe Disco</h4>
          <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> Season 5 | Episode 27</small></p>
        </div>
        <div class="timeline-body">
        <img class="cafe_disco" src="./img/cafe_disco.jpg">
        </div>
      </div>
    </li>
    <li class="timeline-inverted">
      <div class="timeline-badge success"><i class="glyphicon glyphicon-thumbs-up"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Scott's Tots</h4>
          <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> Season 6 | Episode 12</small></p>
        </div>
        <div class="timeline-body">
        <img class="scotts_tots" src="./img/scotts_tots.jpg">
        </div>
      </div>
    </li>
  </ul>
</div>

</div>