<div class="home_pg">

<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container-fluid">
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		  <ul class="nav navbar-nav">
		    <li><a href="#!/about">ABOUT</a></li>
		    <li><a href="#!/cast">THE CAST</a></li>  
		    <li><a href="#!/bestmoments">BEST MOMENTS</a></li>
		  </ul>
		</div>
	</div>
</nav>

<div class="container animated bounce" id="logo">
	<img src="https://fanart.tv/fanart/tv/73244/clearlogo/theoffice(US)-73244.png">
	<div id="quote"><h4>"Would I rather be feared or loved? Easy. Both. I want people to be afraid of how much they love me." 
	-Michael Scott</h4>
	 </div>
</div>

</div>